
@{
    ViewBag.Title = "DatosPaciente";
}
@if (Session["UsuarioAutenticado"] == null || (bool)Session["UsuarioAutenticado"] != true)
{

    <script>window.location.href = `/Usuario`;</script>
}

<h2>Datos Paciente</h2>

<div id="tablaBusquedaPaciente">



</div>


<script src="~/Scripts/generic.js"></script>

<script src="~/Scripts/Paciente.js"></script>