
@{
    ViewBag.Title = "DatosPaciente";
}

<h2>Datos Paciente</h2>

<div id="tablaBusquedaPaciente">



</div>


<script src="~/Scripts/generic.js"></script>

<script src="~/Scripts/Paciente.js"></script>