
@{
    ViewBag.Title = "Busqueda";
}

<h2>Busqueda</h2>

<div id="tablaBusquedaRegistro">



</div>



<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/registroSocial.js"></script>
