
@{
    ViewBag.Title = "RegistroSocial";
}


<div class="" >
    <div class="row">
        <div class="d-flex justify-content-start col-3" style="height:100px">
            <img src="~/img/hospital logo.png" />
        </div>
        <div class="col-6 text-center">
            <h3>FICHA DE ETREVISTA SOCIAL</h3>
        </div>
    </div>
    
</div>

<form class="mt-3 " style="width:100%; box-sizing:content-box " method="post">
    <div class="row mb-3">
        <div class="col-md-3">
            <label class="form-label">Fecha de Ingreso:</label>
            <input type="date" class="form-control" name="fecha_ingreso">
        </div>
        <div class="col-md-3">
            <label class="form-label">Fecha de Aplicación:</label>
            <input type="date" class="form-control" name="fecha_aplicacion">
        </div>
        <div class="col-md-3">
            <label class="form-label">Servicio:</label>
            <input type="text" class="form-control" name="servicio">
        </div>
        <div class="col-md-3">
            <label class="form-label">Cama:</label>
            <input type="text" class="form-control" name="cama">
        </div>
    </div>

    <h5 class="mt-3">Datos Generales</h5>

    @*DATOS DE PACIENTE*@

    <h5 class="mt-3">I. Paciente</h5>
    <div class="row mb-3">
        <div class="col-md-3">
            <label class="form-label">Paciente:</label>
            <input type="text" class="form-control" name="paciente">
        </div>
        <div class="col-md-3">
            <label class="form-label">DNI:</label>
            <input type="text" class="form-control" name="dni">
        </div>
        <div class="col-md-3">
            <label class="form-label">Edad:</label>
            <input type="number" class="form-control" name="edad">
        </div>
        <div class="col-md-3">
            <label class="form-label">Estado Civil:</label>
            <select class="form-select" name="estado_civil">
                <option value="S">Soltero/a</option>
                <option value="CA">Casado/a</option>
                <option value="CO">Conviviente</option>
                <option value="SE">Separado/a</option>
                <option value="VI">Viudo/a</option>
                <option value="D">Divorciado/a</option>
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            <label class="form-label">Grado de Instrucción:</label>
            <select class="form-select" name="grado_instruccion" onchange="toggleExtraFieldPaciente(this)">
                <option value="IL">Iletrado/a</option>
                <option value="PC">Primaria Completa</option>
                <option value="PI">Primaria Incompleta</option>
                <option value="SC">Secundaria Completa</option>
                <option value="SI">Secundaria Incompleta</option>
                <option value="SU">Superior Universitaria</option>
                <option value="ST">Superior Técnica</option>
            </select>
        </div>
        <div class="col-md-3">
            <label class="form-label">Dirección:</label>
            <input type="text" class="form-control" name="direccion">
        </div>
        <div class="col-md-3">
            <label class="form-label">Celular PX:</label>
            <input type="tel" class="form-control" name="cel_px">
        </div>
        <div class="col-md-3">
            <label class="form-label">Ocupación:</label>
            <input type="text" class="form-control" name="ocupacion">
        </div>
        
        @*especificar grado paciente*@
        <div class="col-md-3 mt-3" id="extra-field-paciente" style="display: none;">
            <label class="form-label">Especificar Grado Paciente:</label>
            <input type="text" class="form-control" name="especificar_grado_paciente">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            <label class="form-label">N°hijos:</label>
            <input type="text" class="form-control" name="numero_hijos">
        </div>
        <div class="col-md-3">
            <label class="form-label">N° hermanos:</label>
            <input type="tel" class="form-control" name="numero_hermanos">
        </div>
        <div class="col-md-3">
            <label class="form-label">DX Medico:</label>
            <input type="text" class="form-control" name="dx_medico">
        </div>
        <div class="col-md-3">
            <label class="form-label">Seguro:</label>
            <select class="form-select" name="seguro" onchange="toggleExtraFieldPacienteSeguro(this)">
                <option value="SIS">SIS</option>
                <option value="ESS">ESSALUD</option>
                <option value="PARTICULAR">Particular</option>

            </select>
        </div>

        @*especificar SEGURO paciente*@
        <div class="col-md-3" id="extra-field-seguro-paciente" style="display: none;">
            <label class="form-label">Especificar seguro:</label>
            <input type="text" class="form-control" name="especificar_seguro_paciente">
        </div>
    </div>
    <h5 class="mt-4">II. Responsables</h5>
    <div id="responsables-container">

    </div>

    <button type="button" class="btn btn-secondary" id="add-responsable">Agregar Responsable</button>

    <h5 class="mt-4">III. Modalidad de Ingreso</h5>
    <div class="row mb-1" style="margin-left:40px;margin-right:40px">
        <div class="col-md-3">
            <label><input type="radio" id="consulta-externa" name="modalidad_ingreso" value="C.EXTERNO"> Consulta Externa</label><br>
        </div>
        <div class="col-md-3">
            <label><input type="radio" id="emergencia" name="modalidad_ingreso" value="EMERGENCIA"> Emergencia (REF)</label>
        </div>
        <div class="col-md-3">
            <label><input type="radio" id="autoreferencia" name="modalidad_ingreso" value="AUTOREF"> Autoreferencia</label><br>
        </div>

    </div>
    <!-- "Especificar" modalidad-->
    <div class="row mb-1" id="especificar-container-modalidad" style="display: none; margin-left:40px; margin-right:40px;">
        <div class="col-md-12">
            <label class="form-label">Especificar Modalidad:</label>
            <input type="text" class="form-control" name="especificar_modalidad" value="">
        </div>
    </div>

    <h5 class="">IV. Tipo de Familia</h5>
    <div class="border p-3 mb-3">

        <div class="row mb-3" style="margin-left:40px; margin-right:40px;">
            <div class="col-md-3">
                <label><input type="radio" name="tipo_familia" value="nuclear"> Familia Nuclear</label><br>
                <label><input type="radio" name="tipo_familia" value="monoparental" id="monoparental"> Familia Monoparental</label><br>
            </div>
            <div class="col-md-3">
                <label><input type="radio" name="tipo_familia" value="extensa"> Familia Extensa</label><br>
                <label><input type="radio" name="tipo_familia" value="compuesta"> Familia Compuesta</label><br>
            </div>
            <div class="col-md-3">
                <label><input type="radio" name="tipo_familia" value="adoptiva_acogida"> Familia Adoptiva/Acogida</label><br>
                <label><input type="radio" name="tipo_familia" value="personas_mayores"> Familia de Personas Mayores</label><br>
            </div>
            <div class="col-md-3">
                <label><input type="radio" name="tipo_familia" value="homoparental"> Familia Homoparental</label><br>
                <label><input type="radio" name="tipo_familia" value="unipersonal"> Familia Unipersonal</label>
            </div>
        </div>
        <!-- "Especificar" field for Monoparental family type, hidden by default -->
        <div class="row mb-3" id="especificar-container" style="display: none; margin-left:40px; margin-right:40px;">
            <div class="col-md-12">
                <label class="form-label">Especificar Familia:</label>
                <input type="text" class="form-control" name="especificar_tipo_familia">
            </div>
        </div>

        <div class="mb-3" style="width:91% ;margin-left:40px;margin-right:40px">
            <label class="form-label">Observaciones:</label>
            <textarea class="form-control" name="observaciones" rows="2"></textarea>
        </div>

        <h5 class="mt-4" style="margin-left:40px;margin-right:40px">Acciones Realizadas</h5>
        <div class="row mb-3" style="margin-left:40px; margin-right:40px;">
            <div class="col-md-6">
                <label><input type="checkbox" name="acciones_realizadas" value="entrevista" id="entrevista"> Entrevista Social</label><br>
                <label><input type="checkbox" name="acciones_realizadas" value="consejeria"> Consejería/Orientación Social</label><br>
            </div>
            <div class="col-md-6">
                <label><input type="checkbox" name="acciones_realizadas" value="gestion" id="gestion"> Gestión Social</label><br>
                <label><input type="checkbox" name="acciones_realizadas" value="otros" id="otros"> Otros</label>
            </div>
        </div>
        <!-- Additional fields for specific selections -->
        <div class="row mb-3" id="entrevista-field" style="display: none; margin-left:40px; margin-right:40px;">
            <div class="col-md-12">
                <label class="form-label">Especificar Entrevista Social:</label>
                <input type="text" class="form-control" name="especificar_entrevista">
            </div>
        </div>
        <div class="row mb-3" id="gestion-field" style="display: none; margin-left:40px; margin-right:40px;">
            <div class="col-md-12">
                <label class="form-label">Especificar Gestión Social:</label>
                <input type="text" class="form-control" name="especificar_gestion">
            </div>
        </div>
        <div class="row mb-3" id="otros-field" style="display: none; margin-left:40px; margin-right:40px;">
            <div class="col-md-12">
                <label class="form-label">Especificar Otros:</label>
                <input type="text" class="form-control" name="especificar_otros">
            </div>
        </div>
    </div>
    <div class="mb-3" style="width:95%">
        <label class="form-label">Diagnóstico Social:</label>
        <textarea class="form-control" name="diagnostico_social" rows="2"></textarea>
    </div>


    <!-- Botón de Envío (cambia "type" a "button" para evitar recarga de página) -->
    <button type="button" onclick="guardarRegistroSocial()" class="btn btn-success mb-3">Enviar</button>

</form>


<script src="~/Scripts/formulario/formularioCampos.js"></script>
<script src="~/Scripts/formulario/controladorFormulario.js"></script>

<script>

    function toggleEspecificarField() {
        const consultaExterna = document.getElementById('consulta-externa');
        const autoreferencia = document.getElementById('autoreferencia');
        const emergencia = document.getElementById('emergencia');
        const especificarContainer = document.getElementById('especificar-container-modalidad');

        if (consultaExterna.checked || autoreferencia.checked || emergencia.checked) {
            especificarContainer.style.display = 'block';
        } else {
            especificarContainer.style.display = 'none';
        }
    }

    document.getElementById('consulta-externa').addEventListener('change', toggleEspecificarField);
    document.getElementById('emergencia').addEventListener('change', toggleEspecificarField);
    document.getElementById('autoreferencia').addEventListener('change', toggleEspecificarField);


</script>

<script>
    // Function to show/hide the "Especificar" field based on selected family type
    function toggleEspecificarField() {
        const especificarContainer = document.getElementById('especificar-container');
        const monoparentalRadio = document.getElementById('monoparental');

        // Show field if Monoparental is selected, otherwise hide
        if (monoparentalRadio.checked) {
            especificarContainer.style.display = 'block';
        } else {
            especificarContainer.style.display = 'none';
        }
    }

    // Attach event listeners to all radio buttons in the "tipo_familia" group
    document.querySelectorAll('input[name="tipo_familia"]').forEach((radio) => {
        radio.addEventListener('change', toggleEspecificarField);
    });
</script>

<script>
    // Function to show/hide specific fields based on checkbox selection
    function toggleFields() {
        document.getElementById('entrevista-field').style.display = document.getElementById('entrevista').checked ? 'block' : 'none';
        document.getElementById('gestion-field').style.display = document.getElementById('gestion').checked ? 'block' : 'none';
        document.getElementById('otros-field').style.display = document.getElementById('otros').checked ? 'block' : 'none';
    }

    // Attach event listeners to the checkboxes
    document.getElementById('entrevista').addEventListener('change', toggleFields);
    document.getElementById('gestion').addEventListener('change', toggleFields);
    document.getElementById('otros').addEventListener('change', toggleFields);
</script>