
@{
    ViewBag.Title = "Busqueda";
}
@if (Session["UsuarioAutenticado"] == null || (bool)Session["UsuarioAutenticado"] != true)
{

    <script>window.location.href = `/Usuario`;</script>

}

<h2>Busqueda</h2>

<div id="tablaBusquedaRegistro">



</div>



<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/datosGenerales.js"></script>