
@{
    ViewBag.Title = "DatosPaciente";
    var usuarioAutenticado = Context.Session.GetString("UsuarioAutenticado");
    var nombreUsuario = Context.Session.GetString("NombreUsuario");
}
@if (usuarioAutenticado == null || nombreUsuario == null)
{

    <script>window.location.href = `/Usuario`;</script>
}

<h2>Datos Paciente</h2>

<div id="tablaBusquedaPaciente">



</div>


<script src="~/js/scripts/generic.js"></script>
<script src="~/js/scripts/paciente.js"></script>