
@{
    ViewBag.Title = "DatosResponsable";
}

<h2>Listar Responsables</h2>
@if (Session["UsuarioAutenticado"] == null || (bool)Session["UsuarioAutenticado"] != true) {

    <script> window.location.href = `/Usuario`;</script>
}

<div id="tablaBusquedaResposable">



</div>


<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/responsable.js"></script>