@{
    ViewBag.Title = "RegistroSocialVista";
    var usuarioAutenticado = Context.Session.GetString("UsuarioAutenticado");
    var nombreUsuario = Context.Session.GetString("NombreUsuario");
}

@if (usuarioAutenticado == null || nombreUsuario == null)
{

    <script>window.location.href = `/Usuario`;</script>
}
<div class="container">
    <!-- Título -->
    <div class="row">
        <div class="col text-center">
            <h3>FICHA DE ENTREVISTA SOCIAL</h3>
        </div>
    </div>

    <!-- Datos Generales -->
    <h5 class="mt-4">Datos Generales</h5>
    <div class="row">
        <div class="col-md-3">
            <label>Fecha de Ingreso:</label>
            <input type="date" id="fechaIngreso" class="form-control" readonly />
        </div>
        <div class="col-md-3">
            <label>Fecha de Aplicación:</label>
            <input type="date" id="fechaAplicacion" class="form-control" readonly />
        </div>
        <div class="col-md-3">
            <label>Servicio:</label>
            <input type="text" id="servicio" class="form-control" readonly />
        </div>
        <div class="col-md-3">
            <label>Cama:</label>
            <input type="text" id="cama" class="form-control" readonly />
        </div>
    </div>




    <!-- Datos del Paciente -->
    <h5 class="mt-4">Datos del Paciente</h5>
    <div class="row">
        <div class="col-md-3">
            <label>Nombre:</label>
            <input type="text" id="nombrePaciente" class="form-control" readonly />
        </div>
        <div class="col-md-3">
            <label>DNI:</label>
            <input type="text" id="dni" class="form-control" readonly />
        </div>
        <div class="col-md-3">
            <label>Edad:</label>
            <input type="number" id="edad" class="form-control" readonly />
        </div>
        <div class="col-md-3">
            <label>Estado Civil:</label>
            <input type="text" id="estadoCivil" class="form-control" readonly />
        </div>
        <div class="col-md-3 mt-2">
            <label>Grado de Instrucción:</label>
            <input type="text" id="gradoInstruccion" class="form-control" readonly />
        </div>
        <div class="col-md-3 mt-2">
            <label>Dirección:</label>
            <input type="text" id="direccion" class="form-control" readonly />
        </div>
        <div class="col-md-3 mt-2">
            <label>Celular:</label>
            <input type="tel" id="celular" class="form-control" readonly />
        </div>
        <div class="col-md-3 mt-2">
            <label>Ocupación:</label>
            <input type="text" id="ocupacion" class="form-control" readonly />
        </div>
        <div class="col-md-4 mt-2">
            <label>Número de Hijos:</label>
            <input type="number" id="numHijos" class="form-control" readonly />
        </div>
        <div class="col-md-4 mt-2">
            <label>Número de Hermanos:</label>
            <input type="number" id="numHermanos" class="form-control" readonly />
        </div>
        <div class="col-md-4 mt-2">
            <label>Seguro:</label>
            <input type="text" id="seguro" class="form-control" readonly />
        </div>

    </div>

    <div class="row">

        <div class="mt-2">
            <label>Dx Médico:</label>

            <textarea class="form-control" rows="2" id="dxMedico" readonly> </textarea>
        </div>
    </div>

    <div class="container">
        <!-- Responsables Section -->
        <h5 class="mt-4">Responsables</h5>
        <div id="responsablesContainer">
            <p>No hay responsables registrados.</p>
        </div>
    </div>


    <div class="row">
        <h5 class="mt-4">Modalidad de ingreso</h5>
        <div class="col-md-6">
            <label>Modalidad de Ingreso:</label>
            <input type="text" id="modalidadIngreso" class="form-control" readonly />
        </div>
    </div>

    <div class="row">
        <h5 class="mt-4">Tipo de familia</h5>

        <div class="col-md-6">
            <label>Tipo de Familia:</label>
            <input type="text" id="tipoFamilia" class="form-control" readonly />
        </div>


        <div class="col-md-6">
            <label>Acciones Realizadas:</label>
            <input type="text" id="accionesRealizadas" class="form-control" readonly />
        </div>

        <div class="">
            <label>Observaciones tipo de familia:</label>
            <textarea class="form-control" rows="2" id="observacionesTipoFamilia" readonly> </textarea>
        </div>


    </div>
    <!-- Diagnóstico Social -->
    <h5 class="mt-4 ">Diagnóstico Social</h5>
    <div class="row mb-4">
        <div class="col-md-12">
            <label>Diagnóstico Social:</label>
            <textarea id="diagnosticoSocial" class="form-control" rows="2" readonly></textarea>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col text-center">
            <p>__________________________________</p>
            <p>FIRMA Y SELLO DEL TRABAJADOR(A) SOCIAL</p>
        </div>
    </div>

    <div class="text-center my-4">
        <button onclick="imprimir()" class="btn btn-primary">Imprimir</button>
    </div>
</div>

<script>

    function convertirFecha(fechaJson) {
        if (!fechaJson) {
          console.error('Error: fechaJson no es válido', fechaJson);
          return ''; // Retorna una cadena vacía o un valor por defecto
       }

       const timestamp = parseInt(fechaJson.replace(/\/Date\((\d+)\)\//, "$1"), 10);
       const date = new Date(timestamp);
       return `${date.getFullYear()}-${String(date.getMonth() + 1).padStart(2, '0')}-${String(date.getDate()).padStart(2, '0')}`;
    }

    function obtenerParametroUrl(nombre) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(nombre);
    }

    async function cargarDatos() {
        const id = obtenerParametroUrl('id');
        if (!id) {
            alert('ID no especificado en la URL');
            return;
        }

        try {
            const response = await fetch(`/RegistroSocial/traerRegistroSocial/?id=${id}`);
            const data = await response.json();
            console.log(data)
            // Usa la función convertirFecha para formatear las fechas
            document.getElementById('fechaIngreso').value = convertirFecha(data.datos.fechaIngreso);
            document.getElementById('fechaAplicacion').value = convertirFecha(data.datos.fechaAplicacion);
            document.getElementById('servicio').value = data.servicio.nombre;
            document.getElementById('cama').value = data.datos.cama;
            document.getElementById('accionesRealizadas').value = data.datos.accionesRealizadas;
            document.getElementById('observacionesTipoFamilia').value = data.datos.observacionesFamilia;
            document.getElementById('modalidadIngreso').value = data.datos.modalidadIngreso;
            document.getElementById('tipoFamilia').value = data.datos.tipoFamilia;
            document.getElementById('diagnosticoSocial').value = data.datos.diagnosticoSocial;

            // Resto del código para completar los campos de la vista con otros datos
            document.getElementById('nombrePaciente').value = data.paciente.nombrePaciente;
            document.getElementById('dni').value = data.paciente.dni;
            document.getElementById('edad').value = data.paciente.edad;
            document.getElementById('estadoCivil').value = data.paciente.estadoCivil;
            document.getElementById('gradoInstruccion').value = data.paciente.gradoInstruccion;
            document.getElementById('direccion').value = data.paciente.direccion;
            document.getElementById('celular').value = data.paciente.celularPaciente;
            document.getElementById('ocupacion').value = data.paciente.ocupacion;
            document.getElementById('numHijos').value = data.paciente.numHijos;
            document.getElementById('numHermanos').value = data.paciente.numHermanos;
            document.getElementById('seguro').value = data.paciente.seguro;
            document.getElementById('dxMedico').value = data.paciente.dxMedico;

            // Cargar datos de responsables
            const responsablesContainer = document.getElementById('responsablesContainer');
            responsablesContainer.innerHTML = '';  // Limpiar el contenedor

            if (data.responsables && Array.isArray(data.responsables) && data.responsables.length > 0) {
                data.responsables.forEach((responsable, index) => {
                    const div = document.createElement('div');
                    div.classList.add('row', 'mb-3');
                    div.innerHTML = `
                    <div class="col-md-3">
                        <label>Responsable ${index + 1}:</label>
                        <input type="text" class="form-control" value="${responsable.nombreResponsable}" disabled>
                    </div>
                    <div class="col-md-3">
                        <label>DNI:</label>
                        <input type="text" class="form-control" value="${responsable.dni}" disabled>
                    </div>
                    <div class="col-md-3">
                        <label>Edad:</label>
                        <input type="number" class="form-control" value="${responsable.edad}" disabled>
                    </div>
                    <div class="col-md-3">
                        <label>Parentesco:</label>
                        <input type="text" class="form-control" value="${responsable.parentesco}" disabled>
                    </div>
                    <div class="col-md-3 mt-2">
                        <label>Celular:</label>
                        <input type="tel" class="form-control" value="${responsable.celularResponsable}" disabled>
                    </div>
                    <div class="col-md-3 mt-2">
                        <label>Ocupación:</label>
                        <input type="text" class="form-control" value="${responsable.ocupacion}" disabled>
                    </div>
                    <div class="col-md-3 mt-2">
                        <label>Grado de Instrucción:</label>
                        <input type="text" class="form-control" value="${responsable.gradoInstruccion}" disabled>
                    </div>
                `;
                    responsablesContainer.appendChild(div);
                });
            } else {
                responsablesContainer.innerHTML = '<p>No hay responsables registrados.</p>';
            }

        } catch (error) {
            console.error('Error al cargar los datos:', error);
            alert('Error al cargar los datos. Intente nuevamente.');
        }
    }

    window.onload = cargarDatos;

</script>
<script>
    function imprimir() {
        window.print();
    }
</script>
